


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lamborghini</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lamborghini.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3 justify-content-center">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <h3>Welcome @ViewBag.LoggedUserName</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Wedding" asp-action="AllWeddings">Home</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Wedding" asp-action="NewWedding">Plan a Wedding</a>
                        </li>
                         <li class="nav-item">
                            <form asp-action="Logout" asp-asp-controller="User" method="Post">
                                <button class="Idxbutton text-danger">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-bottom footer text-muted">
        <div class="container">
            &copy; 2024 - Wedding Planner 🤵🏼‍♂️👰🏼‍♀️🎂
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
