
.btn-primary[b-zc7ndd39rf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zc7ndd39rf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zc7ndd39rf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zc7ndd39rf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer[b-zc7ndd39rf] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

ul[b-zc7ndd39rf]
